body {
    color: black;
    background-color: gray;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, p {
  text-align: center;
}

br {
    color: black;
}

/* Style the form inputs and textarea */
input[type="email"] {
width: 220px;
}


textarea {
  width: 250px;
  padding: 40px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: lightgray;
}
/* Style the submit button */
input[type="submit"] {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #0056b4;
}
