body {
             color: gray;
}

.centered-div {
  width: 200px;
  height: 200px;
  background-color: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: left;
}
#mainBox {
    width: 200px;
    height: 100px;
    
    color: black;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

h1, h2, p {
  text-align: center;
  background-color: #f9f9f8;
}

/* Center the form container */
.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Style the form labels */
label {
  font-weight: bold;
}
/* Style the form inputs and textarea */
input[type="email"],
textarea {
  width: 180px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Style the submit button */
input[type="submit"] {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #0056b4;
}
